body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    background: rgb(43, 2, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    flex:1;
    text-align: center;
}
nav ul{
    display:inline-block;
    list-style: none;
}
nav ul a{
    font-size: 18px;
    color:#f1f2f7;
}
ul  a:hover{
    color: rgb(68, 65, 235);
    transition: .3s ease-in;
    }
.logo{
    text-decoration: none;
    color: rgb(248, 241, 241);
    font-size: 35px;
    margin-left:40px ;
}
.logo:hover{
    color: rgb(117, 154, 235);
    transition: .3s ease-in;
}
.hero{
    width: 100%;
    height: 685px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
}
img{
    float: left;
    position: right;
    bottom: 50px;
    top: 50px;
    right: 50px;
    left: 50px;

}
h1{
    position: absolute;
    top: 150px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    text-align: justify;
}
p{
    position: absolute;
    top: 240px;
    font-size: 40px;
    color: rgb(17, 16, 16);
    text-align: justify;
    font-style: serif;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
ul{
    list-style: none;
}
.footer{
    background-color: #200224;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px; 
}
.footer-col h4{ 
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 font-weight: 500;
 position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){ 
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height:40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width:767px){
    .footer-col{
        width: 25%;
        margin-bottom: 30px;

    }
}
    @media(max-width:574px){
        .footer-col{
            width: 100%;
            
        }
}
